doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles.css")
    script(src="https://unpkg.com/htmx.org@1.9.12")
  body(hx-boost="true" hx-indicator=".loader")
    header
      nav
        img(src="/shuriken.png")
        h1 The Dojo Chronicles
        ul.nav-links
          li
            a(href="/home") Home
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
    main
      div(hx-history-elt)
        block content
    footer
      p "© 2023 The Dojo Chronicles. All rights reserved."
      ul.footer-links
        li
          a(href="/privacy") Privacy Policy
        li
          a(href="/terms") Terms of Service
    include ../partials/loader
