body {
  font-family: Rubik, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
}
h1, h2, h3 {
  color: #2c3e50;
  margin: 0;
}
main h2 {
  margin-bottom: 30px;
  text-align: center;
}
.btn {
  background: #3498db;
  color: white;
  padding: 10px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

header {
  background: #2c3e50;
  padding: 20px;
  color: white;
}
header nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 50px;
}
main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.article {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  padding: 0 20px;
}
footer {
  background: #2c3e50;
  color: white;
  padding: 20px 0;
  text-align: center;
}
footer h2 {
  margin-bottom: 30px;
  text-align: center;
}
form * {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-family: Rubik;
}
form textarea {
  height: 100px;
}
.btn {
  background: #ffa300;
  color: white;
  padding: 10px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.loader {
  opacity: 0;
  position: fixed;
  width: 100px;
  text-align: center;
  top: 50%;
  left: calc(50% - 100px);
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.loader.htmx-request {
  opacity: 1;
}
ul.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
ul.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
ul.footer-links li a {
  color: white;
  text-decoration: none;
}
